.header__navbar {
    background-color: #343a40;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__navbar-items {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}
.header__navbar-items-left {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 10px;
    padding-left: 10px;
    justify-content: flex-start;
}
.header__navbar-items-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px 0 10px;
}
.header__form {
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    padding: 0 10px 0 10px;
}
.header__form-input {
    width: 100%;
    border-radius: 4px;
}

.header__navbar-navlink {
    display: inline;
    padding: 0px;
}
.header__navbar-userinfo {
    color: #007bff;
}
.navbar-nav {
    color: #ffffff;
    margin-right: 5px;
}
.navlink__txt {
    color: #ffffff;
}
.topnav-center {
    float: none;
}
.topnav-row {
    display: flex;
    flex-direction: row;
}
.topnav-row-item {
    margin-right: 1rem;
}
.header__navbar-cart {
    height: 25px;
    width: 25px;
    color: #fff;
}
.m-cart-badge {
    margin-left: 20px; 
}
.header__navbar-lbl-cartbadge {
    font-size: 1rem;
    color: white;
    margin-left: 10px;
    padding: .25 rem;
    vertical-align:inherit;
}
.sidenav_hamburger_icon {
    margin-top: 0px;
    padding: 0 10px 0px 10px;
}
@media screen and (max-width: 768px) {
    .header__navbar-items-left {
        flex-grow: 1;
    }
    .header__navbar-items-right {
        flex-grow: 1;
    }    
}
@media screen and (max-width: 576px) {
    .header__navbar-items {
        flex-direction: column;
    }
    .header__navbar-userinfo {
        display: none;
    }
    .header__navbar-items-left {
        margin-bottom: 5px;
    }
}