.order__items {
  list-style: none;
  width: auto;
  margin: 0;
  padding: 0;
}
.order__item-list {
  margin: 10px;
  padding: 0;
}
.order__item-list-left {
  justify-content: flex-start;
  padding: 0;
}
.order__item-list-right {
  justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  .order__item-list {
    margin: 0;
  }
}
