.order-name-text {
  width: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.order__list {
  list-style: none;
  width: 900px;
  margin-top: 0;
  /* margin-bottom: 10px; */
  padding: 0;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
    .order__list {
        width: auto;
    }
}

