.pg__main-container {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  max-width: 450px;
  border: 0.5px solid grey;
  border-radius: 12px;
  align-content: flex-start;
  background-color: whitesmoke;
}
.pg__main-container ul {
  list-style: none;
}
.pg__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pg__items-left {
  display: flex;
  flex-direction: column;
}
.pg__items-right {
  display: flex;
  flex-direction: column;
}
.pg__header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: pink;
  border-radius: 8px;
}
.pg__main-container input {
  min-width: 40px;
  border: 0.5px solid grey;
  border-radius: 4px;
}
